# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\Hueta\LAB1_Servlets_var12\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
